*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}

.navbar{
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF9E2;
}

.navbar .left-row p a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.navbar .logo img{
    justify-content: center;
    width: 200px;
    height: 100px;
}

.create {
    width: 100%;
    background-color: transparent;
    color: aliceblue;
    border: none;
    border-radius: 10px;
    margin: 50px auto;
    justify-content: center;
    border: #000000;
    align-items: center;
    margin-left: -6px;
}

.Recipe{
    width: 93%;
    margin: 25px ;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #E6E4E4;
    border-radius: 15px;
}

.Desc{
    width: 93%;
    margin: 25px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #E6E4E4;
    border-radius: 15px;
}

.img{
    width: 93%;
    margin: 25px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #E6E4E4;
    border-radius: 15px;
}

.create .button{
    height: 45px;
    width: 80%;
    background-color: #E6E4E4;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    margin-left: 129px;
}

input{
    border: none;
    font-size: 20;
}

.name{
    margin-left: 30px;
}

.desc{
    margin-left: 30px;
}

.image{
    margin-left: 30px;
}
