*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}

body{
    background-color: #ffffff;
}

.navbar{
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF9E2;
}

.navbar .right-row p a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 10px;
}

.navbar .right-row p a:hover{
    text-decoration: underline;
}

.navbar .left-row p a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.navbar .left-row p a:hover{
    text-decoration: underline;
}

.navbar .logo img{
    justify-content: center;
    width: 200px;
    height: 100px;
}

.h1 hr{
    justify-content: center;
    display: flex;
    margin-left: 100px;  
    margin-right: 100px;  
}

.homeleft{
    margin-left: 100px;
    width: 400px;
    height: 1px;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px;
    flex-direction: row-reverse;
    justify-content: space-between;
    display: grid;
    img{
        width: 360px;
        height: 300px;
        justify-content: center;
    }
}

.homeleft .namamakanan{
    text-align: center;
}

.homeleft .descmakanan{
    text-align: center;
}

.divider{
    width: 1px;
    height: 300px;
    background-color: #000000;
    margin-left: 500px;
}